<div class="row justify-content-between mb-2 pl-4">
    <p class="mb-2">CUSTOMER MANAGEMENT</p>
</div>

<app-dropdown-table [data]="summary" >

</app-dropdown-table>

<div class="row justify-content-between mb-3 pl-4"></div>


<app-dropdown-table [data]="payments" >

</app-dropdown-table>

<div class="row justify-content-between mb-3 pl-4"></div>


<app-dropdown-table [data]="repairs" >

</app-dropdown-table>

<div class="row justify-content-between mb-3 pl-4"></div>



<app-dropdown-table [data]="support" >

</app-dropdown-table>

<div class="row justify-content-between mb-3 pl-4"></div>


<app-dropdown-table [data]="referrals" >

</app-dropdown-table>

<div class="row justify-content-between mb-3 pl-4"></div>


<app-dropdown-table [data]="outstanding" >

</app-dropdown-table>

<div class="row justify-content-between mb-3 pl-4"></div> 


