.search-results {
  border: 1px solid #dedede;
  border-radius: 0.185rem;
  box-sizing: border-box;
  overflow-y: auto;
}

.result {
  background: #ffffff;
  padding: 0.625rem;
  
  .count {
    background-color: red;
    color: black;
  }
}

.result:nth-child(even) {
  background: #fafafa;
}

.btn-tag {
  border-radius: 1rem;
}

.count {
  background-color: whitesmoke;
  color: black;
  padding: 0.2rem;
  border-radius: 2rem;
  font-size: 10px;
  vertical-align: middle;

}

.multiselect-input {
  font-family: "Avenir-Heavy", Helvetica, Arial, serif;
  font-size: 13px;
}

.multiselect-btn {
  width: 100%;
}