<jw-modal id="account-statement" width="70%">
    
    <p class="mb-2">ACCOUNT STATEMENT</p>
    <div class="row">
        <div class="col-5 border-right">
            <table class="table table-borderless">
                <thead>
                    <tr>
                      <th style="width: 70%" scope="col">Earning Cumulative</th>
                      <th scope="col"></th>
                    
                    
                    </tr>
                  </thead>
                <tbody>
                  <tr>
                   
                    <td>Sales Commissions</td>
                    <td>16000</td>
                   
                  </tr>
                  <tr>
                 
                    <td>Installer Commission</td>
                    <td>16000</td>
                   
                  </tr>
                  <tr>
                  
                    <td>Technical Support</td>
                    <td>16000</td>
                   
                  </tr>
                  <tr>
                  
                    <td>Store Keeper</td>
                    <td>16000</td>
                   
                  </tr>
                </tbody>
              </table>

              <table class="table table-borderless">
                <thead>
                    <tr>
                      <th style="width: 70%" scope="col">Bonuses</th>
                      <th scope="col"></th>
                    
                    </tr>
                  </thead>
                <tbody>
                  <tr>
                   
                    <td>Earned</td>
                    <td>16000</td>
                   
                  </tr>
                  <tr>
                 
                    <td>Discretionery</td>
                    <td>16000</td>
                   
                  </tr>
                
                </tbody>
              </table>

            

              <table class="table table-borderless">
                <thead>
                    <tr>
                      <th style="width: 70%" scope="col">Adjustments</th>
                      <th scope="col"></th>
                    
                    
                    </tr>
                  </thead>
                <tbody>
                  <tr>
                   
                    <td>Earning Adjustments</td>
                    <td>16000</td>
                   
                  </tr>
                  <tr>
                 
                    <td>Installer Commission</td>
                    <td>16000</td>
                   
                  </tr>
                  <tr>
                  
                    <td>Net Earnings</td>
                    <td>16000</td>
                   
                  </tr>
                
                </tbody>
              </table>
        </div>
        <div class="col-3 border-right">
            <table class="table table-borderless">
                <thead>
                    <tr>
                      <th scope="col">Deducations</th>
                      <th scope="col"></th>
                    
                    
                    </tr>
                  </thead>
                <tbody>
                  <tr>
                   
                    <td>Clawbacks</td>
                    <td>16000</td>
                   
                  </tr>
                  <tr>
                 
                    <td>Penalties</td>
                    <td>16000</td>
                   
                  </tr>

                  <tr>
                 
                    <td>Advance</td>
                    <td>16000</td>
                   
                  </tr>
                 
                
                </tbody>
              </table>

              <table class="table table-borderless">
                <thead>
                    <tr>
                      <th scope="col">WTH</th>
                      <th scope="col"></th>
                    
                    
                    </tr>
                  </thead>
                <tbody>
                  <tr>
                   
                    <td>Retained</td>
                    <td>16000</td>
                   
                  </tr>
                  <tr>
                 
                    <td>Paid to KRA</td>
                    <td>16000</td>
                   
                  </tr>
                
               
                </tbody>
              </table>
        </div>

        <div class="col-3">
          
              <table class="table table-borderless">
                <thead>
                    <tr>
                      <th style="width: 70%" scope="col">Payments</th>
                      <th scope="col"></th>
                    
                    
                    </tr>
                  </thead>
                <tbody>
                  <tr>
                   
                    <td>System Payments</td>
                    <td>16000</td>
                   
                  </tr>
                
                 
                </tbody>
              </table>

              <table class="table table-borderless">
                <thead>
                    <tr>
                      <th style="width: 70%" scope="col">Adjustments</th>
                      <th scope="col"></th>
                    
                    
                    </tr>
                  </thead>
                <tbody>
                  <tr>
                   
                    <td>One-Of system payments</td>
                    <td>16000</td>
                   
                  </tr>
                 
                 
                </tbody>
              </table>
              <table class="table table-borderless">
                <thead>
                    <tr>
                      <th style="width: 70%" scope="col">Payment Total</th>
                      <th scope="col"></th>
                    
                    
                    </tr>
                  </thead>
                <tbody>
                  <tr>
                   
                    <td>Payments</td>
                    <td>16000</td>
                   
                  </tr>
                 
                
                </tbody>
              </table>

              <table class="table table-borderless">
                <thead>
                    <tr>
                      <th style="width: 70%" scope="col">Balance</th>
                      <th scope="col"></th>
                    
                    
                    </tr>
                  </thead>
                <tbody>
                  <tr>
                   
                    <td>Total</td>
                    <td>16000</td>
                   
                  </tr>
                
                </tbody>
              </table>
        </div>

    </div>

    
     <!--Submit Button-->
     <div class="row justify-content-end mt-4 pr-3">
        <app-default-button [outline]="true" text="Cancel" class="mr-4"(action)="cancel()" ></app-default-button>
    </div>


</jw-modal>