<!-- Top Section -->
<div class="row justify-content-between mb-2 pl-4">
    <p class="mb-2">ACCOUNTS/PAYMENTS</p>

    <div>
       
        <app-default-button  text="Generate Payment Plan" class="mr-4" (action)="createTicket()"></app-default-button>
        <app-default-button  text="Proceed to Pay" class="mr-4" (action)="createTicket()"></app-default-button>
    </div>
</div>

<!-- data table -->
<app-basic-table [titles]="titles" [url]="url" ></app-basic-table>


<app-wth (closeAction)="cancelModal()" (tableAction)="reloadTable()" [current_item]="current_item"></app-wth>

<app-account-statement (closeAction)="cancelModal()" (tableAction)="reloadTable()" [current_item]="current_item"></app-account-statement>

<app-adjustments (closeAction)="cancelModal()" (tableAction)="reloadTable()" [current_item]="current_item"></app-adjustments>