<div style="background-color: white;" class="p-1 pl-3">

    <table *ngIf="!loading" class="table table-hover table-sm mt-0 pt-0 ml- pl-0 " style="background-color: white;" >
        <thead>
            <tr>
                <th *ngFor="let title of titles">
                    <app-changelog-table-header [header]="title" [filters]="filters" > </app-changelog-table-header>    
                </th>
            </tr>
        </thead>
        <!--todo set loading-->
        <tbody>
           
            <tr *ngFor="let row of results">
                <td *ngFor="let title of titles" class="m-0 p-0 pt-1 pb-1">
                    <app-changelog-table-cell
                       [header]="title"
                       [row]="row"
                    ></app-changelog-table-cell>
                </td>
            </tr>


        </tbody>
    </table>


    <app-mypagination [selectedPage]="page" [pageSize]="page_size" (onPageSelect)="onPageSelect($event)"
    [resultsMeta]="resultsMeta" *ngIf="!loading"></app-mypagination>

    <app-table-loader *ngIf="loading" ></app-table-loader>

</div>