<nav class="navbar navbar-expand-lg navbar-light p-0">
  <div class="navbar-brand bg-light ml-4 p-2">
    <a [routerLink]="['/home']">
      <img class="navbar-logo" style="height: 30px;width: 100px;" src="assets/img/logo/spark-logo-trans-bg.png">
    </a>
  </div>

  <div class="container-fluid header-background" style="height: 60px;">

    <div class="collapse navbar-collapse" id="navbarTogglerMainMenu">

      <ul class="navbar-nav mr-auto">

        <!--Dashboard Link -->
        <li class="nav-item pr-3 active">
          <a class="nav-link nav-title" [routerLink]="['/home']">Dashboard <span
            class="sr-only">(current)</span></a>
        </li>

        <!-- Customers -->
        <li class="nav-item pr-3 dropdown">
          <a class="nav-link  nav-title dropdown-toggle" href="/administration" id="navbarDropdown"
             role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Customers
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li>
          <a class="dropdown-item" [routerLink]="['/customers']">
            Customers
          </a>
        </li>
        <li>
          <a class="dropdown-item" [routerLink]="['/technicalsupport']">
            Technical Support
          </a>
        </li>
        <li>
          <a class="dropdown-item" [routerLink]="['/customerreferral']">
            Customer Referral
          </a>
        </li>
    </div>

    </li>

      <!-- Field Force -->
      <li class="nav-item pr-3 dropdown">
        <a class="nav-link  nav-title dropdown-toggle" href="/administration" id="navbarDropdown"
           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Field Force
        </a>
  
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li>
        <a class="dropdown-item" [routerLink]="['/accounts']">
          Accounts/Payments
        </a>
      </li>
      <li>
        <a class="dropdown-item" [routerLink]="['/statement-page']">
          Statement Page
        </a>
      </li>
      <li>
        <a class="dropdown-item" [routerLink]="['/bonuses']">
          Bonuses
        </a>
      </li>
    </div>
  
    </li>


    <!-- Operations -->
    <li class="nav-item pr-3 dropdown">
      <a class="nav-link  nav-title dropdown-toggle" href="/administration" id="navbarDropdown"
         role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Operations
      </a>

      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li>
      <a class="dropdown-item" [routerLink]="['/repair-center']">
        Repair Center Management
      </a>
    </li>
    <li>
      <a class="dropdown-item" [routerLink]="['/dispatch-stock']">
        Stockroom
      </a>
    </li>
  </div>

  </li>

    <!-- Administration -->
    <li class="nav-item pr-3 dropdown">
      <a class="nav-link  nav-title dropdown-toggle" href="/administration" id="navbarDropdown" role="button"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Administration
      </a>


      <div class="dropdown-menu" aria-labelledby="navbarDropdown">

    <li>
      <!-- users -->
      <a class="dropdown-item" [routerLink]="['/users']" role="button">
        Users
      </a>
    </li>

    <li>
      <!-- users -->
      <a class="dropdown-item" [routerLink]="['/shop']" role="button">
        Shop
      </a>
    </li>

    <li>
      <!-- users -->
      <a class="dropdown-item" [routerLink]="['/bonus-scheme']" role="button">
        Bonus Scheme
      </a>
    </li>


    <!--Inventory configuration-->
    <li class="dropdown-sub-menu">
      <a class="dropdown-item dropdown-toggle" href="#">Inventory Configuration</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" [routerLink]="['/administration/inventory/item-type-config']">Item Type
          Configuration</a></li>
        <li><a class="dropdown-item" [routerLink]="['/administration/inventory/item-config']">Item
          Configuration</a></li>
        <li><a class="dropdown-item" [routerLink]="['/administration/inventory/boxs']">Box Configuration</a>
        </li>
        <li><a class="dropdown-item" [routerLink]="['/administration/inventory/price-group']">Price Group
          Configuration</a></li>
        <li><a class="dropdown-item" [routerLink]="['/administration/inventory/pay-go-providers']">Pay Go
          Provider</a></li>
        <li><a class="dropdown-item" [routerLink]="['/administration/inventory/product-type']">Product
          Configuration</a></li>
        <li><a class="dropdown-item" [routerLink]="['/administration/inventory/suppliers']">Suppliers</a></li>
      </ul>
    </li>

    <!--Repair -->
    <li class="dropdown-sub-menu">
      <a class="dropdown-item dropdown-toggle" href="#">Repair Configuration</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" [routerLink]="['/administration/repair/spare-part-types']">Spare Part
          Types</a></li>
      </ul>
    </li>

  </div>



  </li>


  <!--Inventory Link -->
  <li class="nav-item pr-3 dropdown">

    <a class="nav-link  nav-title dropdown-toggle" href="/inventory" id="navbarDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Inventory
    </a>

    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" [routerLink]="['/inventory/list']">Inventory List</a>
      <a class="dropdown-item" [routerLink]="['/inventory/check-in']">Check In</a>
      <a class="dropdown-item" [routerLink]="['/inventory/box-change-log']">Box Changelog</a>
      <div class="dropdown-divider"></div>

  <li class="dropdown-sub-menu">
    <a class="dropdown-item dropdown-toggle" href="#">Repair Center</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" [routerLink]="['/inventory/repair/collect-at-store']">Collect For Repair</a>
      </li>

      <li><a class="dropdown-item" [routerLink]="['/inventory/repair/part-usage-report']">Part Usage Report</a>
      </li>
      <li><a class="dropdown-item" [routerLink]="['/inventory/repair/parts-received']">View Parts Received</a>
      </li>
      <li><a class="dropdown-item" [routerLink]="['/inventory/repair/parts-adjustment']">Part Adjustment View</a>
      </li>
    </ul>
  </li>

  </div>

  </li>

  </ul>

  <div class="form-inline my-2 my-lg-0">
    <li class="nav-item dropdown form-inline my-2 my-lg-0 user-profile-wrapper">
      <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{username}}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a (click)="signOut()" class="dropdown-item" href="#">Sign out</a>
      </div>
    </li>
  </div>
  </div>

  </div>


</nav>
