<jw-modal id="add_user" width="60%">

    <p class="mb-2">ADD USER</p>

    <form  [formGroup]="add_user_form" (ngSubmit)="submitForm()">

      <div class='row'>
        <div class='col-6'>


            <!-- user role -->
            <div class="mt-3">
                <small>ROLE:</small>


                <ng-select formControlName="role">
                    <ng-option *ngFor="let role of roles" [value]="role.id">{{role.name}}</ng-option>
                 </ng-select>


                 <!-- Loader -->
            <span class="linear-background" *ngIf="roles_loading"></span>

            <!-- Errors -->
            <div
                *ngIf="add_user_form.controls['role'].invalid && (add_user_form.controls['role'].dirty
                || add_user_form.controls['role'].touched)"
                class="alert">
                <div *ngIf="add_user_form.controls['role'].errors.required">
                <span class="text-danger opt-value">
                    Field is required <br>
                </span>
                </div>
            </div>

            <div *ngIf="api_errors.role">

                <span class="text-danger opt-value">
                {{api_errors.role}}
                </span>
            </div>

            </div>

              <!--First Name -->
              <div class="mt-3">
                <small>FIRST NAME</small>

                <input class="mt-2 form-control form-control-sm opt-value" formControlName="first_name" />

                <!-- Errors -->
                <div
                    *ngIf="add_user_form.controls['first_name'].invalid && (add_user_form.controls['first_name'].dirty
                    || add_user_form.controls['first_name'].touched)"
                    class="alert">
                    <div *ngIf="add_user_form.controls['first_name'].errors.required">
                    <span class="text-danger opt-value">
                        Field is required <br>
                    </span>
                    </div>
                </div>

                <div *ngIf="api_errors.first_name">
                    <span class="text-danger opt-value">
                    {{api_errors.first_name}}
                    </span>
                </div>
            </div>


              <!-- LAST NAME  -->
              <div class="mt-3">
                <small>LAST NAME</small>

                <input class="mt-2 form-control form-control-sm opt-value" formControlName="last_name" />

                <!-- Errors -->
                <div
                    *ngIf="add_user_form.controls['last_name'].invalid && (add_user_form.controls['last_name'].dirty
                    || add_user_form.controls['last_name'].touched)"
                    class="alert">
                    <div *ngIf="add_user_form.controls['last_name'].errors.required">
                    <span class="text-danger opt-value">
                        Field is required <br>
                    </span>
                    </div>
                </div>

                <div *ngIf="api_errors.last_name">
                    <span class="text-danger opt-value">
                    {{api_errors.last_name}}
                    </span>
                </div>
            </div>


            <!-- DATE OF BIRTH -->
            <div class="mt-3">
                <small>DATE OF BIRTH</small>

                <input class="mt-2 form-control form-control-sm opt-value" type="date" formControlName="date_of_birth" />

                <!-- Errors -->
                <div
                    *ngIf="add_user_form.controls['date_of_birth'].invalid && (add_user_form.controls['date_of_birth'].dirty
                    || add_user_form.controls['date_of_birth'].touched)"
                    class="alert">
                    <div *ngIf="add_user_form.controls['date_of_birth'].errors.required">
                    <span class="text-danger opt-value">
                        Field is required <br>
                    </span>
                    </div>
                </div>

                <div *ngIf="api_errors.date_of_birth">
                    <span class="text-danger opt-value">
                    {{api_errors.date_of_birth}}
                    </span>
                </div>
            </div>


              <!--ID NUMBER  -->
              <div class="mt-3">
                <small>ID NUMBER</small>

                <input class="mt-2 form-control form-control-sm opt-value" formControlName="id_number" />

                <!-- Errors -->
                <div
                    *ngIf="add_user_form.controls['id_number'].invalid && (add_user_form.controls['id_number'].dirty
                    || add_user_form.controls['id_number'].touched)"
                    class="alert">
                    <div *ngIf="add_user_form.controls['id_number'].errors.required">
                    <span class="text-danger opt-value">
                        Field is required <br>
                    </span>
                    </div>
                </div>

                <div *ngIf="api_errors.id_number">
                    <span class="text-danger opt-value">
                    {{api_errors.id_number}}
                    </span>
                </div>
            </div>



              <div class="mt-3">
                <small>HUDUMA NAMBA</small>

                <input class="mt-2 form-control form-control-sm opt-value" formControlName="huduma_number" />

                <!-- Errors -->
                <div
                    *ngIf="add_user_form.controls['huduma_number'].invalid && (add_user_form.controls['huduma_number'].dirty
                    || add_user_form.controls['huduma_number'].touched)"
                    class="alert">
                    <div *ngIf="add_user_form.controls['huduma_number'].errors.required">
                    <span class="text-danger opt-value">
                        Field is required <br>
                    </span>
                    </div>
                </div>

                <div *ngIf="api_errors.huduma_number">
                    <span class="text-danger opt-value">
                    {{api_errors.huduma_number}}
                    </span>
                </div>
            </div>


              <!--Email  -->
              <div class="mt-3">
                <small>EMAIL</small>

                <input class="mt-2 form-control form-control-sm opt-value" type="email" formControlName="email" />

                <!-- Errors -->
                <div
                    *ngIf="add_user_form.controls['email'].invalid && (add_user_form.controls['email'].dirty
                    || add_user_form.controls['email'].touched)"
                    class="alert">
                    <div *ngIf="add_user_form.controls['email'].errors.required">
                    <span class="text-danger opt-value">
                        Field is required <br>
                    </span>
                    </div>
                </div>

                <div *ngIf="api_errors.email">
                    <span class="text-danger opt-value">
                    {{api_errors.email}}
                    </span>
                </div>
            </div>



              <div class="mt-3">
                <small>KRA PIN</small>

                <input class="mt-2 form-control form-control-sm opt-value" formControlName="kra_pin" />

                <!-- Errors -->
                <div
                    *ngIf="add_user_form.controls['kra_pin'].invalid && (add_user_form.controls['kra_pin'].dirty
                    || add_user_form.controls['kra_pin'].touched)"
                    class="alert">
                    <div *ngIf="add_user_form.controls['kra_pin'].errors.required">
                    <span class="text-danger opt-value">
                        Field is required <br>
                    </span>
                    </div>
                </div>

                <div *ngIf="api_errors.kra_pin">
                    <span class="text-danger opt-value">
                    {{api_errors.kra_pin}}
                    </span>
                </div>
            </div>


              <!-- PRIMARY PHONE NUMBER-->
              <div class="mt-3">
                <small>PRIMARY PHONE NUMBER</small>

                <input class="mt-2 form-control form-control-sm opt-value" formControlName="phone" />

                <!-- Errors -->
                <div
                    *ngIf="add_user_form.controls['phone'].invalid && (add_user_form.controls['phone'].dirty
                    || add_user_form.controls['phone'].touched)"
                    class="alert">
                    <div *ngIf="add_user_form.controls['phone'].errors.required">
                    <span class="text-danger opt-value">
                        Field is required <br>
                    </span>
                    </div>
                </div>

                <div *ngIf="api_errors.phone">
                    <span class="text-danger opt-value">
                    {{api_errors.phone}}
                    </span>
                </div>
            </div>



            <!--Submit Button-->
            <div class="row justify-content-end mt-4 pr-3">
                <app-default-button [outline]="true" text="Cancel" class="mr-4"(action)="cancel()" ></app-default-button>

                <app-default-button text="Submit" ></app-default-button>
            </div>

        </div>
        <div class='col-6'>

          <div class="mt-3">
            <p>USER SPECIFICS</p>

            <div class="form-check mt-3">
              <input class="form-check-input" type="checkbox" value="" id="commissioned" checked>
              <label class="form-check-label" for="commissioned">
                Is Commissioned
              </label>
            </div>

            <div class="form-check mt-3">
            <input class="form-check-input" type="checkbox" value="" id="salaried" checked>
            <label class="form-check-label" for="salaried">
              Is Salaried
            </label>
            </div>
            <div class="form-check mt-3">
            <input class="form-check-input" type="checkbox" value="" id="teamleader" checked>
            <label class="form-check-label" for="teamleader">
              Is TeamLeader
            </label>
          </div>

          </div>

        </div>
      </div>



    </form>


</jw-modal>
